@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
html, body {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}
* {
	box-sizing:border-box;  
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
}
body {
	background:#f2f2f2;
}
#nav {
	position:fixed;
	z-index: 10;
	width:100%;
	padding:15px;
	background:#ffffff;
}
#nav .left {
	float:left;
}
#nav .right {
	float:right;
	margin-top:7px;
}
#nav h1 {
	margin:0; padding:0;
	font-size:1.3em;
	font-weight:700;
}
#nav p {
	margin:0; padding:0;
	text-transform:uppercase;
	font-size:.7em;
	font-weight:300;
}

.action {
	background-color:transparent;
	border:1px solid;
	border-color:#e5e5e5;
	color:#c0c0c0;
	padding:.5em .7em;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:.7em;
	text-transform:uppercase;
	cursor:pointer;
	margin-right:.4em;
}
.action.add {
	border-color:#2ECC40;
	color:#2ECC40;
}
.action.remove {
	border-color:#FF4136;
	color:#FF4136;
}
.action:hover {
	font-weight:700;
}
.action:focus {
	outline:none;
}


#main {
	display:block;
	margin:auto;
	padding:80px 0;
	max-width:750px;
}
#text {
	color:#444;
	font-weight:100;
	line-height:1.5em;
}

footer {
	padding-bottom:20px;
	text-align:center;
}
footer p {
	letter-spacing:.1em;
	font-size:.7em;
	color:#c0c0c0;
	text-transform: uppercase;
	font-weight:100;
}
footer p a {
	color:#FF4136;
	font-weight:400;
	text-decoration: none;
}

